<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        {{>header}}
        {{!-- <h1> {{headline}} </h1> --}}
        <img class="portrait" src="/images/robot.png">
        <h5> {{message}} </h5>
    </body>
</html>